.Navbar {
    background-color: #262626;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    color: #ff0066;
    font-size: 48px;
    padding: 2.5px 5px;
}

.navbar-items {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
}

.active-item {
    cursor: none;
    color: #ff0066;
    border-bottom: 1.5px solid #ff0066;
    font-size: 18px;
    padding: 2.5px 5px;
    margin: auto 10px;
}

.navbar-item {
    color: #ffffff;
    border-bottom: 1.5px solid #262626;
    font-size: 18px;
    padding: 2.5px 5px;
    margin: auto 10px;
    cursor: default;
    transition: all 0.25s linear;
}

.navbar-item:hover {
    color: #ff0066;
    border-bottom: 1.5px solid #ff0066;
}

.navbar-item-icon {
    vertical-align: middle;
}

.navbar-controls-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-controls-message {
    color: #ff0066;
    margin-right: 20px;
    font-size: 18px;
}

.navbar-controls-button {
    outline: none;
    /* border: 1.5px solid #ff0066; */
    border: 1.5px solid #ffffff;
    background-color: #262626;
    font-size: 18px;
    /* color: #ff0066; */
    color: #ffffff;
    padding: 2.5px 15px;
    opacity: 0.65;
    transition: all 0.25s linear;
}

.navbar-controls-button:hover {
    opacity: 1.0;
    color: #ff0066;
    border: 1.5px solid #ff0066;
    transform: scale(1.1);
}

@media (max-width: 1310px) {
    .navbar-title {
        font-size: 40px;
    }

    .navbar-items {
        margin-left: 30px;
    }

    .active-item, .navbar-item {
        font-size: 16px;
    }

    .navbar-controls-message {
        font-size: 16px;
    }

    .navbar-controls-button {
        font-size: 16px;
    }
}

@media (max-width: 1167px) {
    .navbar-title {
        /* font-size: 32px; */
        font-size: 26px;
    }

    .navbar-items {
        margin-left: 20px;
    }

    .active-item, .navbar-item {
        font-size: 14px;
    }

    .navbar-controls-message {
        font-size: 14px;
    }

    .navbar-controls-button {
        font-size: 14px;
    }
}

@media (max-width: 983px) {
    .navbar-controls-message {
        display: none;
    }
}